<div class="form-container">
        <h3>Zresetuj hasło</h3>
        <mat-form-field>
            <input [formControl]="emailControl" id="email" type="text" matInput placeholder="Email" />
            <mat-error *ngIf="emailControl.touched || emailControl.valid">Wymagany e-mail</mat-error>
        </mat-form-field>
        <div [ngSwitch]="emailState">
            <mat-error *ngSwitchCase="400">Błędny email</mat-error>
            <mat-hint *ngSwitchCase="202" style="color: seagreen">Email z linkiem do resetu hasła wysłany</mat-hint>
        </div>
        <button (click)="submit()" mat-raised-button>Przypomnij hasło</button>
    <button (click)="backToLogin()" mat-button>Powrót do logowania</button>
</div>